body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background: #f5e619;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #ec3f0a;
    color: white;
    border: none;
    border-radius: 5px;
}

.weather-info {
    font-size: 1.2em;
}
